# Ignore everything
*

# But not these files...
!.gitignore
!LICENSE
!README.md
!*.sh
!*.bat
!*.py

# Even if they are in subdirectories
**/

# Excepting this
!/CasEN/
!/CoreNLP/
!/Perdido/
!/SEM/
!/Spacy/
!/evaluation/